# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
.logs
logs/

/bin/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

npm-debug.log

.DS_Store
node_modules/
.project
dist
dist/*

# do not to  commit
codeStyleSettings.xml
iview-admin.iml
misc.xml
modules.xml
npm-debug.log.1179672494
workspace.xml
