/*整个页面*/
.layout {
    border: 0px solid #9ea7b4;
    background: #f5f7f9;
    height: inherit;
}

/*导航栏*/
.layout-nav {
    width: 100%;
    /*和Menu theme 为dark模式的颜色一样*/
    background-color: #495060;
}

/*页面主题内容*/
.main-content {
    /*border: 1px solid #9ea7b4;*/
    /*height: 1000px; 不写height就随内容变化而变化*/
    background: #f5f7f9;
    width: 1140px;
    margin: 30px auto;
}

/*自动换行*/
.auto-break-line {
    word-break: break-all;
    word-wrap: break-word;
}

/*编辑器设置*/
.quill-editor-style{
    height: 900px;
}

/*页面底部*/
/*
.layout-bottom {
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
    margin-bottom: 0px;
}
*/

/*专门针对编辑器Code代码样式设置,效果很棒*/
pre.ql-syntax{
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 7px 14px;
    border-radius: 7px;
}






