/*整个页面*/
.layout {
    border: 0px solid #9ea7b4;
    background: #f5f7f9;
    height: inherit;
}

/*导航栏*/
.layout-nav {
    width: fit-content;
    margin: 0 auto;
}

/*页面主题内容*/
.main-content {
    /*border: 1px solid #9ea7b4;*/
    /*height: 1000px; 不写height就随内容变化而变化*/
    background: #f5f7f9;
    width: 1140px;
    margin: 30px auto;
}

.auto-break-line {
    word-break: break-all;
    word-wrap: break-word;
}

/*页面底部*/
/*
.layout-bottom {
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
    margin-bottom: 0px;
}
*/





