/*整个页面*/
.layout {
    width: 100%;
    background: #f5f7f9;
}

/*导航栏*/
.layout-nav {
    width: 100%;
    /*和Menu theme 为dark模式的颜色一样*/
    background-color: #495060;
}

/*页面主题内容*/
.main-content {
    background: #f5f7f9;
    width: 1145px;
    /*width: 1400px;*/
    margin: 20px auto;
}

/*自动换行*/
.auto-break-line {
    word-break: break-all;
    word-wrap: break-word;
}

/***************************************************/

/*承载编辑器的Card*/
.edit-card{
    height: 1047px;
    width: 1140px;
}
/***************************************************/

/*页面底部*/
.layout-bottom {
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}

/*统一P标签内容右移*/
.p-right {
    text-align: right;
    color: rgba(91, 106, 97, 0.45);
    padding-right: 7px;
}

/*统一网站内容字体大小*/
.web-content-font-size {
    font-size: 16px;
}




