/*整个页面*/
.layout {
    width: 100%;
    background: #f5f7f9;
}

/*导航栏*/
.layout-nav {
    width: 100%;
    /*和Menu theme 为dark模式的颜色一样*/
    background-color: #495060;
}

/*页面主题内容*/
.main-content {
    background: #f5f7f9;
    width: 1145px;
    /*width: 1400px;*/
    margin: 30px auto;
}

/*自动换行*/
.auto-break-line {
    word-break: break-all;
    word-wrap: break-word;
}

/***************************************************/
/*编辑器设置*/
.quill-editor-style{
    height: 848px;
    width: 1107px;
}
/*承载编辑器的Div*/
.editorDiv {
    width: fit-content;
    margin: 0 auto;
}
/*承载编辑器的Card*/
.edit-card{
    height: 1047px;
    width: 1140px;
}
/*编辑器上面的提示信息栏*/
.not-login-tips{
    width: 1140px;
    margin: 0 auto;
}
/***************************************************/

/*页面底部*/
.layout-bottom {
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}

/*专门针对编辑器Code代码样式设置,效果很棒*/
pre.ql-syntax{
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 7px 14px;
    border-radius: 7px;
}

/*专门针对编辑器blockquote样式设置*/
blockquote {
    border-left: 4px solid #ccc;
}





